In [1]:
import syft as sy

# Part 1: Launch a Duet Server

In [2]:
duet = sy.launch_duet(loopback=True)

ðŸŽ¤  ðŸŽ¸  â™ªâ™ªâ™ª Starting Duet â™«â™«â™«  ðŸŽ»  ðŸŽ¹

â™«â™«â™« > DISCLAIMER: Duet is an experimental feature currently in beta.
â™«â™«â™« > Use at your own risk.


    > â¤ï¸ Love Duet? Please consider supporting our community!
    > https://github.com/sponsors/OpenMined

â™«â™«â™« > Punching through firewall to OpenGrid Network Node at:
â™«â™«â™« > http://ec2-18-218-7-180.us-east-2.compute.amazonaws.com:5000
â™«â™«â™« >
â™«â™«â™« > ...waiting for response from OpenGrid Network...
â™«â™«â™« > DONE!

â™«â™«â™« > STEP 1: Send the following code to your Duet Partner!

import syft as sy
duet = sy.join_duet(loopback=True)

â™«â™«â™« > Connecting...

â™«â™«â™« > CONNECTED!

# Part 2: Upload data to Duet Server

Let's say the data owner has a dataset of Iris flowers. He will upload the data to the duet server for other data scientists to use.

In [3]:
import pandas as pd
import numpy as np
import csv
from random import seed
from csv import reader 
import torch

In [4]:
project_train = pd.read_csv("C:/Data Science and Analytics/DSA 5900/Final Deliverable/Train.csv")
project_train.drop(['Unnamed: 0'] , axis = 1, inplace =True)

project_train = project_train.dropna()
project_train.head()

,VerificationType,LanguageCode,Age,Gender,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,...,Rating_F,Rating_HR,Rating_nan,Status_Late,Status_Repaid,Status_nan,Restructured_True,Restructured_nan,diff_days,Defaulted
0,4.0,1,0.807692,0.0,0.040555,0.040555,0.084342,0.282051,0.010116,9,...,0,0,0,1,0,0,0,0,1098.0,1
1,4.0,4,0.730769,0.0,0.039415,0.039415,0.053725,0.179487,0.011053,9,...,0,0,0,0,0,0,0,0,711.0,0
2,4.0,4,0.153846,0.0,0.088707,0.088707,0.033690,0.487179,0.010395,9,...,0,0,0,0,0,0,0,0,1819.0,0
3,1.0,4,0.461538,0.0,0.192041,0.192041,0.173468,0.487179,0.045083,9,...,0,1,0,1,0,0,1,0,2006.0,1
4,4.0,3,0.384615,1.0,0.454744,0.454744,0.039175,0.487179,0.057208,9,...,0,0,0,0,0,0,1,0,2564.0,0

In [5]:
X_train = project_train.loc[:, project_train.columns != "Defaulted"]
y_train = project_train["Defaulted"]

In [6]:
X_train = torch.FloatTensor(np.array(X_train))
y_train = torch.LongTensor(np.array(y_train))

In [7]:
print("data:")
print(X_train[0:5])

data:
tensor([[4.0000e+00, 1.0000e+00, 8.0769e-01, 0.0000e+00, 4.0555e-02, 4.0555e-02,
         8.4342e-02, 2.8205e-01, 1.0116e-02, 9.0000e+00, 1.0000e+00, 6.0000e+00,
         7.0000e+00, 2.0000e+01, 1.0000e+01, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 3.7539e-04, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 4.8437e-04, 2.5806e-01, 3.5454e-02,
         1.1207e-01, 7.0716e-01, 5.8218e-01, 1.8430e-01, 4.8012e-02, 5.0000e+00,
         1.8463e-03, 1.2813e-03, 4.8003e-02, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0980e+03],
        [4.0000e+00, 4.0000e+00, 7.3077e-01, 0.0000e+00, 3.9415e-02, 3.9415e-02,
         5.3725e-02, 1.7949e-01, 1.1053e-02, 9.0000e+00, 1.0000e+00, 6.0000e+00,
         7.0000e+00, 2.0000e+01, 3.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.1856e-03, 5.0000e-02,
         8.6282e-06, 0.0000e+00, 0.0000e+00, 4.8437e-04, 6.7742e-01, 6.1697e-03,
         6.9775e-02, 7.9705e-01, 5.6003e-01, 8.9197e-02, 0.0000e+00, 6.0000e+00,
         8.6748e-03, 1.7489e-03, 4.0046e-02, 1.0000e+00, 1.7127e-02, 0.0000e+00,
         1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 7.1100e+02],
        [4.0000e+00, 4.0000e+00, 1.5385e-01, 0.0000e+00, 8.8707e-02, 8.8707e-02,
         3.3690e-02, 4.8718e-01, 1.0395e-02, 9.0000e+00, 5.0000e+00, 6.0000e+00,
         7.0000e+00, 2.0000e+01, 3.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.2232e-03, 1.0000e-01,
         2.1774e-05, 0.0000e+00, 0.0000e+00, 4.8437e-04, 9.6774e-02, 1.5807e-03,
         5.6476e-02, 7.8429e-01, 5.5078e-01, 7.3485e-02, 0.0000e+00, 6.0000e+00,
         2.2225e-03, 1.1839e-03, 9.5313e-02, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.8190e+03],
        [1.0000e+00, 4.0000e+00, 4.6154e-01, 0.0000e+00, 1.9204e-01, 1.9204e-01,
         1.7347e-01, 4.8718e-01, 4.5083e-02, 9.0000e+00, 5.0000e+00, 6.0000e+00,
         7.0000e+00, 2.0000e+01, 3.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 2.8704e-03, 5.0000e-02,
         2.6036e-05, 0.0000e+00, 0.0000e+00, 4.8437e-04, 3.2258e-02, 2.5870e-02,
         3.0646e-01, 0.0000e+00, 5.9693e-01, 4.2349e-01, 3.4130e-02, 6.0000e+00,
         7.2047e-03, 4.1642e-02, 1.9266e-01, 1.0000e+00, 4.6779e-02, 0.0000e+00,
         1.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 2.0060e+03],
        [4.0000e+00, 3.0000e+00, 3.8462e-01, 1.0000e+00, 4.5474e-01, 4.5474e-01,
         3.9175e-02, 4.8718e-01, 5.7208e-02, 9.0000e+00, 4.0000e+00, 6.0000e+00,
         7.0000e+00, 2.0000e+01, 5.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.4821e-03, 7.5000e-02,
         2.1885e-05, 0.0000e+00, 0.0000e+00, 4.8437e-04, 7.4194e-01, 0.0000e+00,
         4.2633e-02, 5.4232e-01, 5.5899e-01, 8.0498e-02, 0.0000e+00, 6.0000e+00,
         2.0260e-02, 4.8405e-02, 4.3977e-01, 3.0000e+00, 8.4247e-02, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00,
         0.0000e+00, 1.0000e+00, 0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00, 0.0000e+00,
         0.0000e+00, 0.0000e+00, 1.0000e+00, 0.0000e+00, 2.5640e+03]])

In [8]:
print("target:")
print(y_train)

target:
tensor([1, 0, 0,  ..., 0, 0, 0])

In [9]:
print("Length of dataset:", len(X_train))

Length of dataset: 8360

In [10]:
print(type(X_train))

<class 'torch.Tensor'>

In [11]:
print(type(y_train))

<class 'torch.Tensor'>

For doing machine learning using torch, we need the data to be converted to FloatTensors. Here, the data owner is explicitly doing the conversion before uploading the data. If he doesn't do that, it has to be converted in the data scientist's end as you've seen in the previous exercise.

In [12]:
X_train = X_train.tag("Loan-data")
y_train = y_train.tag("Loan-target")

X_train = X_train.describe(
    "This is a train dataset for Credit Default classification." 
    
)
y_train = y_train.describe("Labels for Defaulted: No, Yes")

In [13]:
data_pointer = X_train .send(duet, searchable=True)
target_pointer = y_train.send(duet, searchable=True)

`searchable` is deprecated please use `pointable` in future
`searchable` is deprecated please use `pointable` in future

In [14]:
# Once uploaded, the data owner can see the object stored in the tensor
duet.store

In [15]:
# To see it in a human-readable format, data owner can also pretty-print the tensor information
duet.store.pandas

,ID,Tags,Description,object_type
0,<UID: 316abc252b444dcda79505d17c77be45>,[Loan-data],This is a train dataset for Credit Default cla...,<class 'torch.Tensor'>
1,<UID: dbff274fcc8e41258f0a7587cfc4d517>,[Loan-target],"Labels for Defaulted: No, Yes",<class 'torch.Tensor'>

# Part 3: Response to requests coming from Data Scientist

The data owner can add requests to be accepted or denied by adding them to request handlers. If he doesn't specify a `name`, then all the requests will be accepted.

In [16]:
duet.requests.add_handler(action="accept")

### <img src="https://github.com/OpenMined/design-assets/raw/master/logos/OM/mark-primary-light.png" alt="he-black-box" width="100"/> Checkpoint 1 : Well done!